//Font
$fontmerriweather: "Merriweather", serif;
$fontmontserrat: "Montserrat", sans-serif;
$fontopensans: "Open Sans", sans-serif;

//colors
$light-khaki: #f9f4dc;
$pale-grey: #dde9ed;
$black-20: rgba(0, 0, 0, 0.2);
$tomato: #e95626;
$hospital-green: #a2deaf;
$dried-blood: #420101;
$rusty-red: #bd1010;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;
$white: #d5d5d5;
$white-two: #d8d8d8;
$black: #000000;
$gunmetal: #54585a;
$dull-orange: #e17334;
$pinkish-grey: #c5c5c5;
$silver: #bfcdd0;
$black-32: rgba(0, 0, 0, 0.32);
$dirty-blue: #438792;
$dark-green-blue: #114e4e;
$white-three: #ffffff;
$brownish-grey: #6b6b6b;
$white-four: #f5f5f5;
$slate: #3e5b65;

//icons
// keyboard--> far fa-keyboard;
//share--> fas fa-share-alt;
//trash--> far fa-trash-alt;
//ungropu-->far fa-object-ungroup;
