<fieldset class="design">
  <div class="fieldset__button">
    <div class="fieldset__button--title">
      <i class="far fa-object-ungroup"></i>
      <h2>Diseña</h2>
    </div>
    <i class="fas fa-chevron-down fa-chevron-up js-designButton"></i>
  </div>
  <div class="js-design">
    <div class="design__expand">
      <h3>Colores</h3>

      <div class="colors__wrapper js_generalcolor">
        <label class="label" for="palette1">
          <input
            type="radio"
            name="palette"
            id="palette1"
            value="1"
            checked
            class="js-palette1"
          />
          <ul class="palette__wrapper">
            <li class="color palette1__color1"></li>
            <li class="color palette1__color2"></li>
            <li class="color palette1__color3"></li>
          </ul>
        </label>

        <label class="label" for="palette2">
          <input
            type="radio"
            name="palette"
            id="palette2"
            value="2"
            class="js-palette2"
          />
          <ul class="palette__wrapper">
            <li class="color palette2__color1"></li>
            <li class="color palette2__color2"></li>
            <li class="color palette2__color3"></li>
          </ul>
        </label>

        <label class="label" for="palette3">
          <input
            type="radio"
            name="palette"
            id="palette3"
            value="3"
            class="js-palette3"
          />
          <ul class="palette__wrapper">
            <li class="color palette3__color1"></li>
            <li class="color palette3__color2"></li>
            <li class="color palette3__color3"></li>
          </ul>
        </label>
      </div>
    </div>
  </div>
</fieldset>
