<fieldset class="share">
  <div class="fieldset__button">
    <div class="fieldset__button--title">
      <i class="fas fa-share-alt"></i>
      <h2>Comparte</h2>
    </div>
    <i
      class="fas fa-chevron-down fa-chevron-up arrowPointer js-shareButton"
    ></i>
  </div>

  <div class="none js-share">
    <div class="share__expand">
      <button class="share__button js-create-card" type="submit">
        <i class="far fa-address-card">&nbsp;&nbsp;</i>Crear tarjeta
      </button>
    </div>

    <div class="none js-response"></div>

    <div class="none card--created">
      <h3 class="none">La tarjeta ha sido creada:</h3>
      <small class="js-url"></small>
      <a class="none share__button--twitter js-aTwitter"
        >Compartir en Twitter</a
      >
    </div>
  </div>
</fieldset>
