<main class="main">
  <section class="main__logoContainer">

    <img src="./assets/images/hi-me-logo.png" alt="logo" class="main__logo" width="200px" />

    <div class="main__titleContainer">
      <h2 class="main__title">Crea tu tarjeta de visita</h2>
      <p class="main__paragraph">
        Crea mejores contactos profesionales de foma fácil y sencilla
      </p>
    </div>
  </section>
  <section class="main__picturesContainer">
    <div class="main__pictures">
      <div class="far fa-object-ungroup main__icon"></div>
      <p class="main__words">Diseña</p>
    </div>
    <div class="main__pictures">
      <div class="far fa-keyboard main__icon"></div>
      <p class="main__words">Rellena</p>
    </div>
    <div class="main__pictures main__icon">
      <div class="fas fa-share-alt main__icon"></div>
      <p class="main__words">Comparte</p>
    </div>
  </section>

  <a href="./profile.html" title="comenzar a usar aplicación" class="main__button">comenzar</a>

</main>