<form action="" method="POST" class="form js-form">
  <include src="./form-design.html"></include>
  <include src="./form-fill.html"></include>
  <include src="./form-share.html"></include>
</form>
<div class="tooltipFill js-tooltipFill none">
  <p class="tooltipParagraph">
    No tengas tanta prisa. Primero rellena la sección anterior
  </p>
</div>
<div class="tooltipShare js-tooltipShare none">
  <p class="tooltipParagraph">
    Recuerda! Rellena los campos ¿Has rellenado el campo de la foto?
  </p>
</div>
